@import "https://unpkg.com/open-props/easings.min.css";

:root {
  --brad-bg: #f6f5de;
}

@keyframes float {
  50% {
    transform: scale(var(--scale, .8)) rotateZ(var(--rotate, .5turn));
  }
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

#imageContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

#imageContainer img {
  animation: none; /* Initially no animation */
  transition: scale 1s var(--ease-spring-2);
}

button {
  grid-column: 1 / -1;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

@layer support {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    block-size: 100%;
    color-scheme: dark light;
    background: var(--brad-bg);
  }

  body {
    min-block-size: 100%;
    font-family: system-ui, sans-serif;
    display: grid;
  }
  
  img {
    max-inline-size: 100%;
  }
}
